{% extends 'FUBerlinProjectBundle::base.html.twig' %}

{% block content %}

<form class="form-horizontal well" action="{{ path('event_add') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        <legend>Add Event</legend>
    
        {{ form_widget(form) }}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Add</button>
            <button class="btn" type="reset">Cancel</button>
        </div>
        
    </fieldset>
</form>
{% endblock %}