<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome here!!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="login_form">
            {% if app.user %}
                User: {{ app.user.username }}
            {% else %}
                <a href="{{ path('login') }}">Login</a><br>
                <a href="{{ path('register') }}">Register</a>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>